<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Seccion - Edit Seccion</h1>
      </div>

      <%= render partial: 'form', locals: {seccion: @seccion} %>
    </div>
  </div>
</div>